<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Nuevo estudio</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <p></p>
                    <label for="">Fecha:</label>
                    <p></p>
                    <input [(ngModel)]="estudios.fecha" name="titulo" type="text" class="from-control">
                </div>
                <div class="form-group">
                    <p></p>
                    <label for="titulo">Titulo:</label>
                    <p></p>
                    <input [(ngModel)]="estudios.titulo" name="descripcion" type="text" class="from-control">
                </div>
                <div class="form-group">
                    <p></p>
                    <label for="descripcion">Link ícono:</label>
                    <p></p>
                    <input [(ngModel)]="estudios.icono" name="descripcion" type="text" class="from-control">
                </div>
                <div class="form-group">
                    <p></p>
                    <label for="foto">Subtitulo:</label>
                    <p></p>
                    <input [(ngModel)]="estudios.subtitulo" name="foto" type="text" class="from-control">
                </div>
                <div class="form-group">
                    <p></p>
                    <label for="foto">Parrafo:</label>
                    <p></p>
                    <input [(ngModel)]="estudios.parrafo" name="foto" type="text" class="from-control">
                </div>
                <p></p>
                <button style="margin-left:220px" (click)="Guardar()" class="btn btn-success">Guardar</button>
                <button style="margin-left:10px" class="btn btn-danger" routerLink="/modoEdicion" routerLinkActive="active">Regresar</button>
            </form>
        </div>
    </div>
</div>