<app-encabezado *ngIf="hasRoute('/modoEdicion')"></app-encabezado>
<app-titulo *ngIf="hasRoute('/modoEdicion')"></app-titulo>

<app-encabezado *ngIf="hasRoute('/')"></app-encabezado>
<app-titulo *ngIf="hasRoute('/')"></app-titulo>
<app-login *ngIf="hasRoute('/login')"></app-login>

<div class="container-fluid">

<app-sobre *ngIf="hasRoute('/')"></app-sobre>
<app-editar-sobre *ngIf="hasRoute('/editarSobre')"></app-editar-sobre>
<app-sobre *ngIf="hasRoute('/modoEdicion')"></app-sobre>


<app-estudios *ngIf="hasRoute('/')"></app-estudios>
<app-editar-estudios *ngIf="hasRoute('/editarEstudios')"></app-editar-estudios>
<app-estudios-agregar *ngIf="hasRoute('/estudiosAgregar')"></app-estudios-agregar>
<app-estudios *ngIf="hasRoute('/modoEdicion')"></app-estudios>


<app-proyectos *ngIf="hasRoute('/')"></app-proyectos>
<app-editar-proyectos *ngIf="hasRoute('/editarProyectos')"></app-editar-proyectos>
<app-proyectos-agregar *ngIf="hasRoute('/proyectosAgregar')"></app-proyectos-agregar>
<app-proyectos *ngIf="hasRoute('/modoEdicion')"></app-proyectos>


<app-conocimientos *ngIf="hasRoute('/')"></app-conocimientos>
<app-editar-conocimientos *ngIf="hasRoute('/editarConocimientos')"></app-editar-conocimientos>
<app-conocimientos-agregar *ngIf="hasRoute('/conocimientosAgregar')"></app-conocimientos-agregar>
<app-conocimientos *ngIf="hasRoute('/modoEdicion')"></app-conocimientos>

</div>
